<% include ./partials/head %>

<% include ./partials/header %>

<script type="text/javascript" src="/js/jscolor.js"></script>

<a id="stats-generator" hidden onclick="analyze([<%= stats.temperatureData %>], [<%= stats.humidityData %>], [<%= stats.onData %>], [<%= stats.moistData %>])"></a>

<!-- Color Form -->
<!-- <form action="/set-color" method="post" class="ui form" id="color-form">
  <input type="text" class="jscolor two wide field" name="color" value="<%= settings.lightColor %>">

  <input type="checkbox" id="set-as-default" name="options[setAsDefault]" hidden>
  <input type="checkbox" id="change-to-default" name="options[changeToDefault]" hidden>
  <input type="checkbox" id="turn-off" name="options[turnOff]" hidden>

  <div class="ui submit button" id="change-color" onclick="submit()">Change Color</div>
  <div class="ui submit button" id="set-default-button" onclick="submit(true)">Set as Default</div>
  <div class="ui submit button" onclick="submit(false, true)">Change to Default</div>
  <div class="ui submit button" id="off-button" onclick="submit(false, false, true)">Turn Off</div>

</form> -->

<form action="/water" method="post" class="ui form" id="water-form">
  <div class="fields">
    <div class="four wide field">
      <label>How often would you like your plant watered every week?</label>
      <input type="number" name="water[frequency]" value="<%= waters.frequency %>" min="0" >
    </div>
    <div class="four wide field">
      <label>How much would you like to water your plant (in oz.)?</label>
      <input type="number" min="0" name="water[amount]" value="<%= waters.amount %>">
    </div>
    <div class="two wide field">
      <br>
      <input type="submit" class="ui submit button" name="water" value="Submit">
    </div>
  </div>
</form>



<!-- Dashboard -->
<div class="ui raised padded segment">
  <h2 class="ui header">Analytics Dashboard</h2>

  <div class="ui one small grey statistics">
    <div class="statistic">
      <div class="value">
        <%= waters.last_watered.toISOString().substring(0, 10); %>
      </div>
      <div class="label">Last Watered</div>
    </div>
  </div>

  <div class="ui two small grey statistics">
    <div class="statistic">
      <div class="value">
        <%= stats.avgTemperature %> &degC
      </div>
      <div class="label">Avg Temperature</div>
    </div>
    <div class="statistic">
      <div class="value">
        <%= stats.avgHumidity%> %
      </div>
      <div class="label">Avg Humidity</div>
    </div>
  </div>

  <div class="ui grid">
    <div class="two column row">
      <div class="column">
        <canvas id="temperature-chart"></canvas>
        <h4 class="ui centered header">Temperature Zones</h4>
      </div>

      <div class="column">
        <canvas id="humidity-chart"></canvas>
        <h4 class="ui centered header">Humidity Zones</h4>
      </div>
    </div>
  </div>

  <div class="ui two small grey statistics">
    <div class="statistic">
      <div class="value">
        <%= stats.avgBrightness %> / 1023
      </div>
      <div class="label">Avg Brightness</div>
    </div>
    <div class="statistic">
      <div class="value">
        <%= stats.avgMoistness %> / 1023
      </div>
      <div class="label">Avg Moisture</div>
    </div>
  </div>

  <div class="ui grid">
    <div class="two column row">
      <div class="column">
        <canvas id="on-chart"></canvas>
        <h4 class="ui centered header">Time On</h4>
      </div>
      <div class="column">
        <canvas id="moisture-chart"></canvas>
        <h4 class="ui centered header">Moisture Zones</h4>
      </div>
    </div>
  </div>
</div>    <!-- END OF STATS -->



<!-- Config Form -->
<h3 class="ui centered header">Configuration</h3>

<form class="ui form" action="/configure" method="post" id="config-form">
  <div class="fields">
    <div class="four wide field">
      <label>Hot (&degC)</label>
      <input type="number" name="setting[hotThreshold]" value="<%= settings.hotThreshold %>">
    </div>
    <div class="four wide field">
      <label>Cold (&degC)</label>
      <input type="number" name="setting[coldThreshold]" value="<%= settings.coldThreshold %>">
    </div>
    <div class="four wide field">
      <label>Humid (%)</label>
      <input type="number" name="setting[humidThreshold]" value="<%= settings.humidThreshold %>">
    </div>
    <div class="four wide field">
      <label>Dark</label>
      <input type="number" name="setting[darkThreshold]" value="<%= settings.darkThreshold %>">
    </div>
    <div class="four wide field">
      <label>Moist</label>
      <input type="number" name="setting[moistThreshold]" value="<%= settings.moistThreshold %>">
    </div>

    <div class="two wide field">
      <br>
      <input type="submit" class="ui submit button" name="configure" value="Submit">
    </div>
  </div>
</form>

<script type="text/javascript" src="/js/home.js"></script>

<% include ./partials/foot %>
